<a href="https://colab.research.google.com/github/matthieuPaolo/python_sdia/blob/main/lab1_Paolo_Thiebaud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical session 1 - Some Python basics

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

```
conda create --name=lab1 --file=requirement.txt
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
```

In [ ]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [ ]:
a = 4 ** 8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [ ]:
quotient = 17 // 3
remainder = 17 % 3

#test
print(quotient, remainder)

5 2

Create two integer variables `a, b` of your choice and swap their content.

In [ ]:
#creation des variables
a = 5
b = True

#swap
a, b = b, a

#test
print('a =', a, 'b =', b)

a = True b = 5

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [ ]:
a = a * 2

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [ ]:
#definition
z = complex(1, 2)

#test
print('real =', z.real, 'imag =', z.imag)

real = 1.0 imag = 2.0

## Strings

Propose two ways to define an empty string

In [ ]:
way_1 = ""
way_2 = ''
way_3 = str()

''

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [ ]:
import string
#crée un string contenant les 26 lettres de l'alphabet
alphabet = string.ascii_lowercase

print('12th letter of the alphabet is', alphabet[11])
print('10 last letter of the alphabet are', alphabet[-10:])
print('5th to the 10th letters of the alphabet are', alphabet[4:9])

alphabet_uppercase = alphabet.upper()
print(alphabet_uppercase)

12th letter of the alphabet is l
10 last letter of the alphabet are qrstuvwxyz
5th to the 10th letters of the alphabet are efghi
ABCDEFGHIJKLMNOPQRSTUVWXYZ

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [ ]:
x = 2341324530045968
print(str(x)[:4])

2341

## Lists

Propose two ways to define an empty list.

In [ ]:
way1 = []
way2 = list()

TypeError: 'list' object is not callable

In [ ]:
#le way2 ne fonctionne pas alors qu'il devrai, l'erreur est "TypeError: 'list' object is not callable", je ne comprend pas pourquoi

Create the list of consecutive integers from 5 to 11.

In [ ]:
L = [*range(5,12,1)]
print(L)

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [ ]:
L.append(100)
print(L)

[5, 6, 7, 8, 9, 10, 11, 100, 100]

Given the following list,
Change the `"sdia"` to its reverse (`"aids"`).

In [ ]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

#création de la variable contenant "sdia"
str = x[2][1][2][0]

#création de la variable contenant "aids"
str_changed = str[::-1]

#assignation de la variable "aids" en  remplacement de "sdia"
x[2][1][2][0] = str_changed

#test
print(x)

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list,

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [ ]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

#1.
print('1. :', x[:2])

#2.
print('2. :', x[-2:])

#3.
print('3. :', x.index(9))

1. : [3, 7]
2. : [3, 1]
3. : 11

In [ ]:
#4.
#création d'une lsite dans laquelle on va ajouter les éléments d'indice impair
x_odd = []

#boucle for parcourant la liste x
for i in range(len(x)) :
    #si l'élément est impair, on l'ajoute à x_odd
    if (i%2 == 1) :
        x_odd.append(x[i])

print('4. :', x_odd)

4. : [1, 3, 5, 7, 9]

In [ ]:
#5.
x_reversed = x[::-1]
print('5. :', x_reversed)


#6.
power3 = [x[i] ** 3 for i in range(len(x))]
print('6. : ', power3)

5. : [1, 3, 2, 2, 9, 4, 2, 5, 8, 2, 6, 5, 9, 4, 5, 5, 9, 9, 8, 5, 5, 5, 0, 4, 1, 3, 9, 0, 9, 0, 0, 5, 9, 0, 7, 2, 4, 3, 9, 3, 7, 0, 8, 8, 6, 8, 3, 5, 7, 3]
6. :  [27, 343, 125, 27, 512, 216, 512, 512, 0, 343, 27, 729, 27, 64, 8, 343, 0, 729, 125, 0, 0, 729, 0, 729, 27, 1, 64, 0, 125, 125, 125, 512, 729, 729, 125, 125, 64, 729, 125, 216, 8, 512, 125, 8, 64, 729, 8, 8, 27, 1]

## Tuples


Propose two ways to define an empty tuple.

In [ ]:
way1 = (())
print(type(way1))

way2 = tuple()
print(type(way2))

<class 'tuple'>
<class 'tuple'>

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

x = ([1, 2, 3], 4)

In [ ]:
x = ([1, 2, 3], 4)
#je teste la commande x[1] pour voir si elle fonctionne
print(x[1])

#j'essaye d'assigner la valeur 8 au deuxième élément du tuple
x[1] = 8

4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# il est impossible de remplacer le second item

In [ ]:
#modify the list so that the second element of the first item is raised to the power 5
x[0][1] = x[0][1] ** 5

#test
print(x)

([1, 33554432, 3], 4)

What is the main difference between a list and a tuple?

In [ ]:
# Une fois créé, on ne peut pas modifier les éléments d'un tuple contrairement à ceux d'une liste

## Sets

Create an empty set

In [ ]:
empty_set = set()

{}

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [ ]:
#création  de A et B
A = {1,2,3}
B = {2,4,5,6}

#création du set intersection de A et B
intersection = A & B

#test
print(intersection)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [ ]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

# pour ajouter des valeurs au set :
x.update({4, 5, 6})
print(x)


# pour retirer des valeurs au set
x -= {1, 2, 3}
print(x)

#pour regarder si le set est contenu dans un autre
y = {1, 2, 4, 5, 6, 10}
if x.issubset(y) :
    print("the resulting set is contained in {1, 2, 4, 5, 6, 10}")
else :
    print("the resulting set is not contained in {1, 2, 4, 5, 6, 10}")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 4, 5, 6, 7, 8, 9, 10}
the resulting set is not contained in {1, 2, 4, 5, 6, 10}

## Dictionnaries

Propose two ways to define an empty dictionary

In [ ]:
way1 = {}
way2 = dict()

print(way1, way2)

{} {}

Propose at least 3 ways to define a dictionary with
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [ ]:
# 1ère façon, on ajoute les paires clé-valeur dans une accolade
way1 = {"a" : 1, "b" : 3, "c" : 5, "d" : 7}

# 2ème façon, avec la fonction dict() en mettant les éléments clé-valeur entre parenthèses
way2 = dict([("a", 1), ("b", 3), ("c", 5), ("d", 7)])

# 3ème façon, avec la syntae de compréhension du dicitonnaire
key_value = [("a", 1), ("b", 3), ("c", 5), ("d", 7)] #on met les paires clé-valeur dans une liste de tuple
way3 = {key: value for key, value in key_value}

# on teste si on crée les mêmes dictionnaires :
if way1 == way2 == way3 :
    print("test : ok")

le test est passé

Given the following dictionary, use indexing to get to the word `"sdia"`

In [ ]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}


#commande :
print(d["outer"][3]["inner"][3]["inner_inner"][3])

sdia

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [ ]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

key_list = list()
value_list = list()

#create the list of keys
for keys in d1.keys() :
    key_list.append(keys)

#create the list of values
for values in d1.values() :
    value_list.append(values)

# Check if the key "abc" is present, if not, return 123
if "abc" in key_list :
    print("abc is a key")
else :
    print(123)

# Merge the initial dictionary with {"e": -1, 4: True}
d1.update({"e": -1, 4: True})
print(d1)

123
{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [ ]:
# 1ère manière : à la main :
way1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

# 2è manière : boucle for
way2 = [x for x in range(31) if x % 2 == 1]

# test que l'on crée 2 listes équivalentes :
if way1 == way2 :
    print("test : ok")

test : ok

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [ ]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

list = [0] * len(x)

#boucle pour parcourir les éléments de la liste
for i in range(len(x)) :
    #on regarde en premier si il est multiple de 5 ET 7
    if x[i] % 7 == 0 and x[i] % 5 == 0 :
        list[i] = 'fizbuz'
    #on regarde les autres cas
    elif x[i] % 7 == 0 :
        list[i] = 'buz'
    elif x[i] % 5 == 0 :
        list[i] = 'fiz'
    #si aucun des cas précédents n'est verifié, l'élément n'est multiple ni de 5 ni de 7
    else :
        list[i] = i

print(list)

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [ ]:
course = "magic"

if course == "maths" :
    print("That is very useful!")
elif course == "python" :
    print("That is very useful!")
elif course == "meditation" :
    print("How nice!")
elif course == "magic" :
    print("You're not at Hogwarts")
else :
    print("What is this COURSE?")

You're not at Hogwarts

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [ ]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

#if pour regarder si la quantité est 1
if quantity == 1 :
    print(quantity, "fruit", "cost", "{:,.2f}".format(price))

#en supposant que le prix est le prix unitaire, si quantité > 1 on a :
else :
    print(quantity, "fruits", "costs", "{:,.2f}".format(quantity * price))

1 fruit cost 18,912.39

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [ ]:
def is_unique(x) :
    #je crée une liste pour ajouter les éléments uniques
    unique_x = []

    #boucle pour parcourir la liste
    for elem in x :
        #si l'élément est dans unique_x, il y a un duplicatat
        if elem in unique_x :
            return False
        #sinon, je l'ajoute à la liste des éléments uniques
        else :
            unique_x.append(elem)
    #en arrivant là on a parcouru tous les éléments de la liste, il n'y a pas de duplicatat
    return True

#test de la fonction
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(is_unique(x))

y = [0, 1, 2, 3, 4, 5, 6, 7, 8, 8]
print(is_unique(y))

True
False

Define a function `triangle_shape(height)`, that returns
- `""` if `height=0`,
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x
xxx
```

height=3
```
  x  
 xxx
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx
xxxxxxxxxxx
```

In [ ]:
def triangle_shape(height) :
    #premier cas : la taille est nulle
    if height == 0 :
        return ""

    #second cas : la taille est non nulle
    else :
        #on crée une variable contenant la chaine de caractère que l'on utilise pour construire le triangle
        a = "x"
        #on crée un triangle vide que l'on va construire dans une boucle for
        triangle = ""
        #boucle for allant de 1 (sommet du triangle) à height pour parcourir le nombre d'étages du triangle
        for i in range(1, height + 1) :
            #à chaque itération, on saute une ligne et on ajoute au triangle un étage contenant (2i - 1) x
            #j'ai trouvé la commande str.center(25) sur internet, qui permet de centrer un string
            triangle = triangle + "\n" + (a * (2 * i - 1)).center(25)
    return triangle

#tests

for i in range(10) :
    print("height =", i, triangle_shape(i))

height = 0
height = 1
            x
height = 2
            x
           xxx
height = 3
            x
           xxx
          xxxxx
height = 4
            x
           xxx
          xxxxx
         xxxxxxx
height = 5
            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
height = 6
            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
       xxxxxxxxxxx
height = 7
            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
       xxxxxxxxxxx
      xxxxxxxxxxxxx
height = 8
            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
       xxxxxxxxxxx
      xxxxxxxxxxxxx
     xxxxxxxxxxxxxxx
height = 9
            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
       xxxxxxxxxxx
      xxxxxxxxxxxxx
     xxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxx

In [ ]:
print(triangle_shape(10))

            x
           xxx
          xxxxx
         xxxxxxx
        xxxxxxxxx
       xxxxxxxxxxx
      xxxxxxxxxxxxx
     xxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxx
   xxxxxxxxxxxxxxxxxxx

x
xx